* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Inter';
}

button {
  cursor: pointer;
}

header {
  background: #dde3e9;
  width: 100%;
  height: 175px;
}

header figure {
  padding-top: 30px;
}

header h1 {
  display: none;
}

.logo {
  width: 157.5px;
  height: 42.5px;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .logo {
    width: 105px;
    height: 35px;
  }
}

.bg-left {
  width: 100px;
  height: 80px;
  position: absolute;
  margin-left: -120px;
  margin-top: 100px;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .bg-left {
    display: none;
  }
}

.bg-right {
  width: 106px;
  height: 180px;
  position: absolute;
  margin-left: 820px;
  margin-top: -120px;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .bg-right {
    display: none;
  }
}

.empty-state {
  display: none;
}

.empty-state h2 {
  color: #191847;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: normal;
  line-height: 29px;
  text-align: center;
  padding: 30px 0;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .empty-state h2 {
    width: 253px;
    margin: 0 auto;
  }
}

.empty-state figure img {
  display: block;
  margin: 0 auto;
  width: 391px;
  height: 183px;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .empty-state figure img {
    width: 244px;
    height: 115px;
  }
}

.empty-state p {
  color: #191847;
  font-family: 'Inter';
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  line-height: 19px;
  width: 100%;
  display: block;
  padding-top: 48px;
  padding-left: 28px;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .empty-state p {
    width: 295px;
  }
}

.empty-state.show {
  display: block;
}

.all-done {
  display: none;
}

.all-done h2 {
  color: #191847;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: normal;
  line-height: 29px;
  text-align: center;
  padding: 30px 0;
}

.all-done figure img {
  display: block;
  margin: 0 auto;
  width: 442px;
  height: 186px;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .all-done figure img {
    width: 267px;
    height: 112px;
  }
}

.all-done p {
  color: #191847;
  font-family: 'Inter';
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  line-height: 19px;
  width: 100%;
  text-align: left;
  display: block;
  padding-top: 48px;
  padding-left: 28px;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .all-done p {
    padding-top: 30px;
  }
}

.all-done.show-all-done {
  display: block;
}

main {
  background-color: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  min-width: 320px;
  max-width: 800px;
  overflow: hidden;
  margin: 0 auto;
  display: block;
  margin-top: -70px;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  main {
    width: 335px;
    margin-top: -85px;
  }
}

main form {
  padding-top: 20px;
}

main input {
  border: none;
  display: block;
  margin: 0 14px;
  font-family: 'Inter';
  font-size: 16px;
  outline: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #e7e7e7;
  width: 100%;
}

main input:focus {
  border-bottom: #2e42ff 1px solid;
}

main input::-webkit-input-placeholder {
  color: #a2a2a2;
  font-size: 16px;
}

main input:-ms-input-placeholder {
  color: #a2a2a2;
  font-size: 16px;
}

main input::-ms-input-placeholder {
  color: #a2a2a2;
  font-size: 16px;
}

main input::placeholder {
  color: #a2a2a2;
  font-size: 16px;
}

main input[type='checkbox'] {
  display: none;
}

main .insert-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 28px 41px 28px;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  main .insert-todo {
    padding: 0 28px 30px 28px;
  }
}

main .tick {
  border: 1px solid #a2a2a2;
  border-radius: 100%;
  width: 28px;
  height: 28px;
}

main .todo-item.done > span {
  border: 1px solid #2d43ff;
}

main .tick::before {
  content: url(../images/checked-icon.svg);
  display: none;
  margin-left: 3px;
}

main .span-marker {
  border: 1px solid #a2a2a2;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

main .done .tick::before {
  display: inline;
  padding-left: 4px;
}

main .done label {
  text-decoration: line-through;
}

main .todo-list {
  max-height: 400px;
  overflow: auto;
}

main .todo-text {
  width: 150px;
  word-wrap: break-word;
  color: #191847;
  margin: 0 18px;
}

main .pending,
main .done-tasks {
  display: none;
  color: #191847;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  padding: 0 28px 20px 28px;
}

main .show {
  display: block;
}

li.todo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 28px;
  padding-bottom: 20px;
}

li.todo-item:hover {
  background: #f2f2f2;
}

li.todo-item:last-child {
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  li.todo-item:last-child {
    margin-bottom: 30px;
  }
}

.buttons-container {
  margin-left: auto;
  padding-right: 28px;
}

.delete-todo {
  background-image: url(../images/delete-icon.svg);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  width: 7px;
  padding: 6px;
  height: 7px;
  border: 1px solid #2b44ff;
  border-radius: 20px;
}

footer {
  padding-top: 20px;
}

.credits-guava {
  color: #191847;
  font-family: 'Inter';
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.credits-guava a {
  color: #2e42ff;
}

.other-credits {
  color: #191847;
  font-family: 'Inter';
  font-size: 10px;
  line-height: 12px;
  margin: 10px auto;
  text-align: center;
}

.other-credits a {
  color: #2e42ff;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .other-credits {
    width: 244px;
  }
}
/*# sourceMappingURL=styles.css.map */